<!doctype html>
<html lang="en">
  <% template (format "${template_dir}\\_include\\head.html") %>
  <body>
    <div class="page">
      <% template (format "${template_dir}\\_include\\top.html") %>
      <main class="section">
        <section class="copy">
          <%= $post_body %>
        </section>
        <section class="posts-section">
          <h2 class="section-title">Posts</h2>
          <div class="post-grid">
            <% # List all pages from POST category
               foreach p $all_pages {
                set is_post (str equals_i (page category $p) "post")
                if  (expr not $is_post) { continue; }
                set date (format "$(page year $p)-$(page month $p)-$(page day $p)")
             %>
             <article class="post-item">
               <a class="post-title" href="<%= (page url $p) %>"><%= (page title $p) %></a>
               <span class="post-date"><time datetime="<%= $date %>">#</time></span>
             </article>
            <% } %>
          </div>
        </section>
      </main>
    </div>
    <% template (format "${template_dir}\\_include\\footer.html") %>
  </body>
</html>
