html {
  background-color: #CCC;
}

body {
  width: 70%;
  max-width:1024px;
  padding: 22px;
  margin: 15px auto;
  font-family: Verdana;
  line-height: 1.2em;
  color: #2d3754;
  background-color: #FFF;
  vertical-align: center;
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  display: flex;
  flex-direction: column;
  min-height: 95vh;       /* body takes whole viewport's height */
}

header {
  text-align: center;
  height:280px;
  background-image: linear-gradient(rgba(255, 255 ,255, 1), rgba(253, 253, 255, 0.9)), url("bg.jpg");
  background-size: 140px 280px;
  background-repeat: repeat-x;
}

header h1 {
  margin: 0;
  padding-top: 120px;
  font-family: "Yu Gothic", "Segoe UI", "Verdana";
  font-size: 3em;
}

.header_links {
  margin: 32px 0px;
}

.left_panel {
  width: 30%;
  float: left;
}

footer {
  height: auto;
  background: #f9f9f9;
  text-align: center;
  vertical-align: center;
  padding: 15px;
  font-size: small;
}

.right_panel {
  overflow: wrap;
  padding-left: 32%;
  flex: 1;                 /* this will make the container take the free space */
}

.content { flex: 1; margin:0px 0px 18px 0px; }

h1:first-letter {
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6
{
  font-family: Verdana;
  font-weight: normal;
  color: #000;
}

p {
  color: #533;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ff7f2a;
  text-decoration: none; 
}

a:hover { text-decoration: underline;}

time {
  color: #777;
  font-size:small;
  display:block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

img, iframe {
  border-width: 5px;
  border-style: solid;
  border-color: #eee;
  background-color: #eee;
  object-fit: contain;
  object-position: center;
  max-height: 350px;
  width: 60%%;
}

pre {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  font-size: large;
  font-weight: lighter;
  margin: 0px;
  padding: 0px 15px 0px 15px;
  background-color: #eee;
  word-wrap: break-word;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


blockquote {
  background: #f9f9f9;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: large;
  margin: 1.5em 10px;
  padding: 0.9em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.6em;
}
blockquote p {
  display: inline;
}
